body {
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    background-image: url('images/Navigation\ Bar\ Image.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 4px solid #333;
}

.navbar-brand {
    font-weight: bold;
}

/* Portfolio BG Color */
#portfolio {
    background-color: #f9f9f9;
}

/* Hover Project Title */
.card-title {
    cursor: pointer;
}

.card-title:hover {
    color: #007bff;
}

#contactForm .form-control {
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #ffffff;
    color: #000000;
    margin-top: 20px;
}

footer p {
    margin: 0;
}